/** Import ROBOTO font **/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

/*--------------*/

body{
    padding-top:35px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: roboto, Arial, Helvetica;
}

#Formulario button:active, #Formulario button:focus,
.panelRight button:active, .panelRight button:focus{
    outline: none;
}

#Formulario button i,
.panelRight button i{
    padding-right: 10px;
}



/*---------NAV BAR #Formulario-----------*/
#Formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



#Formulario button i{
    padding-right: 10px;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #1d1d1b;
    height: 60px;
    padding-top: 5px;
}

nav img{
    width: 15%;
    margin-left: 30px;

}


#tabs ul {
    background: white;
    border: 0;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

fieldset{
    border:solid 1px black;
    margin-bottom: 15px;
    padding: 0px 15px 0px 15px 
}
label{
    font-size: 18px;
    font-weight: bolder
}
input[type='submit']{
    margin:auto;
    display:block;
    margin-top: 50px; 
}
button p{
    font-weight: bolder;
    margin: auto;
}
#divBoton{
    text-align: center;
    margin-bottom:20px;
    margin-top: 15px;
}
#divBotonCEM{
    text-align: center;
    margin-bottom:20px;
    margin-top: 15px;
}
/*h1, h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px 4px 0px 0px;
   border-bottom: 0.1px black solid;
    color: black;
    font-weight: bold;
    background: rgba(0,0,0,0.8);
    color:white
}*/
input[type='text']{
    padding: 0px 10px 0px 10px;
}
.cabecera{
        background:lightgrey;
        font-weight:bolder;
        text-transform: uppercase;
        font-size: 18px

}
/*h1, h2{
        text-align:center;
        text-transform: uppercase;
        margin : 0px 0px 50px 0px;
        text-shadow: -2px 1px grey;

        font-size:26px
}*/

#enlaceCuotas{
    margin-top: 50px
}
#check{
    margin-left: 20px
}
.inputDcha{
    float:right; border:solid black 2px; 
}
input[name='atributo']{
    width:90px
}

/*** Añadido a la plantilla ***/		
h1{
    font-size: 42px!important;
    margin-left:2%;
    margin-right: 2%;
    text-align: center;
    font-weight: bold;
    color: #1d1d1d;
}
#capaInputFile > div > input[type="text"]{
    background-color: white;
}

h3{
font-size: 25px!important;
}

button{
        background-color: white;
	padding:0px!important;
	border:0px!important;
}

#capaInputFile{
    min-height: 70px;
    padding-top: 20px;
}
#capaInputFileCEM{
    min-height: 70px;
    padding-top: 20px;
}

div.jfilestyle label{
    color:black!important;
    font-weight:bold!important;
}

#divLogo{
    margin-top: 40px;
}


#botonEnviar img, #botonEnviarExportar img, #botonEnviarDispositivos img{
    width: 65px;
    height: 65px;
}
#botonEnviarCEM img{
    width: 65px;
    height: 65px;
}

#ErrorHoja31Caracteres{
    background-color: red;
    text-align: center;
    width: 94%;
    margin: 0 auto;
    height: 48px;
    border-radius: 10px;
}

#ErrorHoja31Caracteres p{
    margin: auto;
}

#nombre,
#nombreHoja{
    width: 300px;
}

body{margin:40px;}


.btn-circle {
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 200px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  margin-top: 16px;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }


body
{
  font-family: 'Roboto', sans-serif;
  color: #B7C4CB;
  background-color: #F7F9F9;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}

body > div {
    margin-top: 10px;
}

a, .account-link
{
    color: #72B032;
}

.account-type
{
    font-family: 'Roboto', sans-serif;
    color: #A0AEB6;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
}

.account-amount
{
    font-family: 'Roboto', sans-serif;
    color: #A0AEB6;
    font-size: 14px;
    line-height: 16px;
}

.account-link
{
    font-family: 'Roboto', sans-serif;
    color: #72B032;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

/* TABS */
.tabs-left > .nav-tabs{
    margin-right:0px;
    padding: 0;
    height: 100px; /* Debe ser el mismo height que el que tenga .tab-content */
    height: 65px;
}

/* CONTENIDO DE LOS TABS */
.tab-content {
    background-color: #FFFFFF;
    border:solid 1px #DCE1E5;
    border-left-style: none;
    height: 650px; /* Debe ser el mismo height que el que tenga .tabs-left > .nav-tabs */
    padding-left: 20px;
    
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    
    -webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
}

.tab-content > div {
    margin-top: 26px;
}

/* Color de los enlaces de los tabs */
.tabs-left > .nav-tabs > a {
    color: #7FAD30;
}

/* Formato del primer elemento */
.tabs-left > .nav-tabs > li:nth-child(1) > a,
.tabs-left > .nav-tabs > li:nth-child(1) > a:hover,
.tabs-left > .nav-tabs > li:nth-child(1) > a:focus 
{
    border-top-left-radius: 4px;
}

/* Formato del tab activo */
.tabs-left > .nav-tabs .active > a, 
.tabs-left > .nav-tabs .active > a:hover, 
.tabs-left > .nav-tabs .active > a:focus
{
    border-bottom: 1px solid #DCE1E5;
    border-left: 1px solid #DCE1E5;
    border-bottom-left-radius: 0px;
    
    -webkit-box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
    -moz-box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
    box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
}

/* Formato de los tabs en general */
.tabs-left > .nav-tabs > li > a {
    margin-bottom: 0;
    padding-bottom: 0;
    
    
    padding-top: 1.5em;
    
    /*
padding-top: 2em;
    min-height: 85px;
    min-width: 105px;*/
    min-width: 93px;
    min-height: 65px;
    border:solid 1px #DCE1E5;
    border-radius: 0px;
}

.panel > .list-group
{
    margin-bottom: 0;
}
.panel > .list-group .list-group-item
{
    border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child
{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child
{
    border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child
{
    border-top-width: 0;
}



.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.panelRight button.btn {
    width: 100%;
    height: 55px;
    padding: 10px 16px;
    font-size: 18px;
}

.panelRight .list-group, .proveedores{
        border: 1px solid #ccc;
}

.proveedores{
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}

.proveedores .radio{
    padding-left: 0;
}

@media (min-width: 1200px)
    .container {
        max-width: 1250px;
    }
}