body{
    padding-top:35px;
    background: black;
}

form, #descarga{
    width: 600px;    
    margin: auto;
    border-radius: 5px;
    border:solid rgba(0,0,0,0.4) 2px;
    background:rgb(255,255,255) ;
   
    //-webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 4.5px 8px 6px -6px #777;
    // box-shadow: 0 10px 6px -6px #777;
}
.form-group{
    padding: 0px 30px 30px 30px;
}
fieldset{
    border:solid 1px black;
    margin-bottom: 15px;
    padding: 0px 15px 0px 15px 
}
label{
    font-size: 18px;
    font-weight: bolder
}
input[type='submit']{
    margin:auto;
    display:block;
    margin-top: 50px; 
}
button p{
    font-weight: bolder;
    margin: auto;
}
#divBoton{
    text-align: center;
    margin-bottom:20px;
    margin-top: 15px;
}
#divBotonCEM{
    text-align: center;
    margin-bottom:20px;
    margin-top: 15px;
}
h1, h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px 4px 0px 0px;
   border-bottom: 0.1px black solid;
    color: black;
    font-weight: bold;
    background: rgba(0,0,0,0.8);
    color:white
}
input[type='text']{
    padding: 0px 10px 0px 10px;
}
.cabecera{
        background:lightgrey;
        font-weight:bolder;
        text-transform: uppercase;
        font-size: 18px

}
h1, h2{
        text-align:center;
        text-transform: uppercase;
        margin : 0px 0px 50px 0px;
        text-shadow: -2px 1px grey;

        font-size:26px
}
body{
        background: #EEECEA
}

#enlaceCuotas{
    margin-top: 50px
}
#check{
    margin-left: 20px
}
.inputDcha{
    float:right; border:solid black 2px; 
}
input[name='atributo']{
    width:90px
}

/*** Añadido a la plantilla ***/		
h1{
font-size: 42px!important;
margin-left:2%;
margin-right: 2%;
}

h3{
font-size: 25px!important;
}

button{
        background-color: white;
	padding:0px!important;
	border:0px!important;
}

#capaInputFile{
    min-height: 70px;
    padding-top: 20px;
}
#capaInputFileCEM{
    min-height: 70px;
    padding-top: 20px;
}

div.jfilestyle label{
    color:black!important;
    font-weight:bold!important;
}

#divLogo{
    margin-top: 40px;
}

#botonEnviar img{
    width: 65px;
    height: 65px;
}
#botonEnviarCEM img{
    width: 65px;
    height: 65px;
}

#ErrorHoja31Caracteres{
    background-color: red;
    text-align: center;
    width: 94%;
    margin: 0 auto;
    height: 48px;
    border-radius: 10px;
}

#ErrorHoja31Caracteres p{
    margin: auto;
}

#nombre,
#nombreHoja{
    width: 300px;
}